@charset "UTF-8";
/* CSS Document */
:root {
    --primary-color: rgba(24, 39, 51, 0.85);
    --overlay-color: rgba(63, 169, 245, 0.75);
    --sec-color: rgba(63, 169, 245, .75); 
    --menue-speed: 0.75s;
}


/* Global Styles */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
} */
.nameHeader {
    position:relative;
    /* float: left; */
	font-size: 2.7em;
    margin-left: 2em;
    margin-top: .2em;
    font-family: 'Oswald', serif;
    color: var(--sec-color);
    width: 100%;
}
body {
    font-size: 16px;
    color: white;
	/* color: white;
    background-color: #404552; */
    background-color: var(--primary-color);
    font-family: 'Oswald', 'Roboto' Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h1 {
    font-family: 'Roboto';
    font-weight: 500;
}
.pageTitle {
	text-align: center;
	margin-top: 1em; 
	font-size: 3em;
}
hr {
	width: 60%;
	height: .75px;
	border: .75px solid #3FA9F5; 
}
/* header {
    
} */
/* Index Page */
.welcome {
	width: 50%;
    height: .75px;
    background-color: #3FA9F5;
    border: .75px solid #3FA9F5;
    margin-top: -.5em;
    margin-left: 0;
	/* alt blue #2aace2 */
}
.indexContainer{
    clear: both;
    /* width: 100%; */
    padding: 1em;
    /* overflow: hidden; */
    justify-content: center;
    box-sizing: inherit;
}
.imgTall {
   width: 100%;
   max-height: auto;
   justify-content: center;
}
.imgLong {
    width: 100%;
    height: auto;
    justify-content: center;
}
.carousel-inner {
    height: 650px;
}
.carousel-caption {
	background-color: rgba(0, 0, 0, .6);
}

.main-p {
    background-color: var(--sec-color);
    border-radius: 25px;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;}

/* Photos Page     */
.photo-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    gap: 1em;
}
.photos {

}

.maintenance {
    justify-content: center;
    margin-top: 25%;
    margin-left: 35%;
}
/* Media Inquiries */
@media (min-width: 600px) {
    .indexContainer {
        display: grid;
        /* grid-template-columns: 
            minmax(6em, 1fr)
            repeat(2, 1fr)
            minmax(1em, 1fr);
        ; */
        grid-template-columns: 1fr 3fr;
        grid-auto-flow: row dense;
        justify-content: unset;
        gap: 1em;
        padding-top: 3em;
        margin-left: 1em;
        margin-right: 5em;
        width: 100%;   
    }
    .aboutMeIndex {
        /* width: 100%; */
        
    }
    .main-p {
        font-size: 1em;
    }
    /* .slideshow {
        grid-column: 3/ 7;
    } */
    .imgTall {
        height: 80%;
        width: auto;
    }
    .imgLong {
        grid-column: 2/3;
        height: 50%;
        width: auto;
    }

    /* photos page */
    .photo-container {
        display: flex;
    }
}
